@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  
}
.container{
  width: 700px;
  max-width: 100%;
  box-shadow: 0px 0px 10px 0px #000 ;
  padding: 0px !important;
  margin-top:0px;
  margin-bottom:0px;
  height: auto;
}

.login-container{
  height: auto;
  width: auto;
  margin-top: 0px;
  margin-bottom: 0px;
 
}
.upper{
  height: auto;
  width: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
.login-form .form-control{
  font-size: 15px;
  min-height: 30px;
  font-weight: 500;
  background-color:#E86715;
  color:#110803;
  position: relative;
  
}

.temp{
  margin-top:0px;
  margin-bottom:0px;
}

.image-1{
  background-image: url(../pics/1.png);
  background-size: cover;
  width: auto;
  height:auto;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
}
.image-3{
  background-image: url(../pics/3.png);
  background-size:cover;
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media(max-width:480px)
{
  h2{font-size: 25px;
  text-align:center;}
  h6{font-size: 13px;}

}
  

.but_logout{
	background-color: #E86715;
	color:white;
	
}
.but_logout:hover{
	background-color: #E86715;
	color:white;
	
}


/* for Submit Button */ 

.btn-submit{
  background: #088497;
  border-color:#088497;
  color:#fff;
  font-size: 20px;
  width:auto;
  height:auto;
  text-decoration: none;
  position: relative;
}
.btn-submit:hover {
  opacity: 0.9;
  background: #088497;
  border-color:#088497;
  color:#fff;
  
}
@media(max-width:480px){
.btn-submit{
  font-size: 15px;
}

}

.darkblue a{
  color:#088497;
}










